@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

body {
    background: #B2C7DF;
    margin: 0;
}

header {
    height: 160px;
    background: rgba(27, 26, 94, 0.722);
    display: grid;
    grid-auto-flow: column; /*coloca os elementos em formato de coluna*/
}

.logo {
    padding-left: 8rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 120px;
}

.title {
    padding-top: 2rem;
    padding-right: 20rem;
    color: white;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
}

#sec-form {
    display: grid;
    grid-auto-flow: column;
}

form {
    display: grid;
    grid-auto-flow: row;
    margin-left: 4rem;
    margin-top: 2rem;
}

label {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}

input {
    width: 70%;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.57);
    height: 35px;
    font-family: 'Alegreya Sans SC';
    border: 0;
}

button {
    width: 244px;
    height: 52px;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    background: #1B1A5E;
    border-radius: 10px;
    border: 0;
    margin-left: 2rem;
    margin-top: -15px;
    cursor: pointer;
}

table {
    margin-top: 2rem;
}

th {
    background: rgba(64, 123, 255, 0.55);
    border: 1px solid #767373;
    min-width: 110px;
    font-family:  'Alegreya Sans SC';;
}

td {
    background: white;
   text-align: center;
}